<div>
  <h2>{{ name }}</h2>
  <table>
    <tr>
      <th>Propiedad</th>
      <th>Valor</th>
    </tr>
    <tr>
      <td>Calories:</td>
      <td>{{calories}}</td>
    </tr>
    <tr>
      <td>Brand:</td>
      <td>{{brand}}</td>
    </tr>
  </table>
</div>